openh264-1.8.0-win64.dll
config2.json
m_image.png
m_imageGrayResized.png
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/config.json
build/CTestTestfile.cmake
build/rpi-motor-app.sln
build/rpi-motor-app.vcxproj
build/rpi-motor-app.vcxproj.filters
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/testModules.vcxproj
build/testModules.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/bin/config.json
build/bin/Debug/opencv_bgsegm450d.dll
build/bin/Debug/opencv_calib3d450d.dll
build/bin/Debug/opencv_core450d.dll
build/bin/Debug/opencv_dnn450d.dll
build/bin/Debug/opencv_features2d450d.dll
build/bin/Debug/opencv_flann450d.dll
build/bin/Debug/opencv_highgui450d.dll
build/bin/Debug/opencv_imgcodecs450d.dll
build/bin/Debug/opencv_imgproc450d.dll
build/bin/Debug/opencv_stitching450d.dll
build/bin/Debug/opencv_tracking450d.dll
build/bin/Debug/opencv_video450d.dll
build/bin/Debug/opencv_videoio_ffmpeg450_64.dll
build/bin/Debug/opencv_videoio450d.dll
build/bin/Debug/Qt5Cored.dll
build/bin/Debug/Qt5Networkd.dll
build/bin/Debug/rpi-motor-app.exe
build/bin/Debug/rpi-motor-app.ilk
build/bin/Debug/rpi-motor-app.pdb
build/bin/Debug/testModules.exe
build/bin/Debug/testModules.ilk
build/bin/Debug/testModules.pdb
build/bin/Debug/bearer/qgenericbearerd.dll
build/bin/Debug/translations/qt_ar.qm
build/bin/Debug/translations/qt_bg.qm
build/bin/Debug/translations/qt_ca.qm
build/bin/Debug/translations/qt_cs.qm
build/bin/Debug/translations/qt_da.qm
build/bin/Debug/translations/qt_de.qm
build/bin/Debug/translations/qt_en.qm
build/bin/Debug/translations/qt_es.qm
build/bin/Debug/translations/qt_fi.qm
build/bin/Debug/translations/qt_fr.qm
build/bin/Debug/translations/qt_gd.qm
build/bin/Debug/translations/qt_he.qm
build/bin/Debug/translations/qt_hu.qm
build/bin/Debug/translations/qt_it.qm
build/bin/Debug/translations/qt_ja.qm
build/bin/Debug/translations/qt_ko.qm
build/bin/Debug/translations/qt_lv.qm
build/bin/Debug/translations/qt_pl.qm
build/bin/Debug/translations/qt_ru.qm
build/bin/Debug/translations/qt_sk.qm
build/bin/Debug/translations/qt_uk.qm
build/bin/Debug/translations/qt_zh_TW.qm
build/Broadcaster/ALL_BUILD.vcxproj
build/Broadcaster/ALL_BUILD.vcxproj.filters
build/Broadcaster/Broadcaster.sln
build/Broadcaster/Broadcaster.vcxproj
build/Broadcaster/Broadcaster.vcxproj.filters
build/Broadcaster/cmake_install.cmake
build/Broadcaster/CTestTestfile.cmake
build/Broadcaster/RUN_TESTS.vcxproj
build/Broadcaster/RUN_TESTS.vcxproj.filters
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.lib.recipe
build/Broadcaster/Broadcaster.dir/Debug/broadcaster.obj
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.pdb
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.vcxproj.FileListAbsolute.txt
build/Broadcaster/Broadcaster.dir/Debug/mocs_compilation.obj
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/Broadcaster.lastbuildstate
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CL.command.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CL.read.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CL.write.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CustomBuild.command.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CustomBuild.read.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/CustomBuild.write.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/Lib-link.read.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/Lib-link.write.1.tlog
build/Broadcaster/Broadcaster.dir/Debug/Broadcaster.tlog/Lib.command.1.tlog
build/Broadcaster/Broadcaster_autogen/mocs_compilation.cpp
build/Broadcaster/Broadcaster_autogen/include_Debug/6YEA5652QU/moc_broadcaster.cpp
build/Broadcaster/CMakeFiles/generate.stamp
build/Broadcaster/CMakeFiles/generate.stamp.depend
build/Broadcaster/CMakeFiles/Broadcaster_autogen.dir/AutogenInfo.json
build/Broadcaster/CMakeFiles/Broadcaster_autogen.dir/AutogenUsed_Debug.txt
build/Broadcaster/CMakeFiles/Broadcaster_autogen.dir/ParseCache_Debug.txt
build/Broadcaster/Debug/Broadcaster.lib
build/Broadcaster/Debug/Broadcaster.pdb
build/Broadcaster/QtCommunicatorPlugin/ALL_BUILD.vcxproj
build/Broadcaster/QtCommunicatorPlugin/ALL_BUILD.vcxproj.filters
build/Broadcaster/QtCommunicatorPlugin/cmake_install.cmake
build/Broadcaster/QtCommunicatorPlugin/CTestTestfile.cmake
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.sln
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.vcxproj
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.vcxproj.filters
build/Broadcaster/QtCommunicatorPlugin/RUN_TESTS.vcxproj
build/Broadcaster/QtCommunicatorPlugin/RUN_TESTS.vcxproj.filters
build/Broadcaster/QtCommunicatorPlugin/CMakeFiles/generate.stamp
build/Broadcaster/QtCommunicatorPlugin/CMakeFiles/generate.stamp.depend
build/Broadcaster/QtCommunicatorPlugin/CMakeFiles/QtCommunicatorPlugin_autogen.dir/AutogenInfo.json
build/Broadcaster/QtCommunicatorPlugin/CMakeFiles/QtCommunicatorPlugin_autogen.dir/AutogenUsed_Debug.txt
build/Broadcaster/QtCommunicatorPlugin/CMakeFiles/QtCommunicatorPlugin_autogen.dir/ParseCache_Debug.txt
build/Broadcaster/QtCommunicatorPlugin/Debug/QtCommunicatorPlugin.lib
build/Broadcaster/QtCommunicatorPlugin/Debug/QtCommunicatorPlugin.pdb
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/message.obj
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/mocs_compilation.obj
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/mqt.obj
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommunicatorPlugin.lib.recipe
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommunicatorPlugin.pdb
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommunicatorPlugin.vcxproj.FileListAbsolute.txt
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/sockio.obj
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CL.command.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CL.read.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CL.write.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CustomBuild.command.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CustomBuild.read.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/CustomBuild.write.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/Lib-link.read.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/Lib-link.write.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/Lib.command.1.tlog
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin.dir/Debug/QtCommun.3542E75E.tlog/QtCommunicatorPlugin.lastbuildstate
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin_autogen/mocs_compilation.cpp
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin_autogen/include_Debug/6YEA5652QU/moc_mqt.cpp
build/Broadcaster/QtCommunicatorPlugin/QtCommunicatorPlugin_autogen/include_Debug/6YEA5652QU/moc_sockio.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/60d776e3f8341a8ddb07a7273f24d587/RUN_TESTS_force.rule
build/CMakeFiles/73b77dc0a214a3e5eb1e604210a68027/RUN_TESTS_force.rule
build/CMakeFiles/92acd6536307f95e87fd42c6f8beade2/RUN_TESTS_force.rule
build/CMakeFiles/aad6f187d44c9266d2a70b8730062b82/generate.stamp.rule
build/CMakeFiles/aad6f187d44c9266d2a70b8730062b82/RUN_TESTS_force.rule
build/CMakeFiles/e08f5e8f2b4c664717a2790ce1709ee2/RUN_TESTS_force.rule
build/CMakeFiles/e4219fe9b59724311192b495e9956a5b/RUN_TESTS_force.rule
build/CMakeFiles/rpi-motor-app_autogen.dir/AutogenInfo.json
build/CMakeFiles/rpi-motor-app_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/rpi-motor-app_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/testModules_autogen.dir/AutogenInfo.json
build/CMakeFiles/testModules_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/testModules_autogen.dir/ParseCache_Debug.txt
build/ConfigReader/ALL_BUILD.vcxproj
build/ConfigReader/ALL_BUILD.vcxproj.filters
build/ConfigReader/cmake_install.cmake
build/ConfigReader/ConfigReader.sln
build/ConfigReader/ConfigReader.vcxproj
build/ConfigReader/ConfigReader.vcxproj.filters
build/ConfigReader/CTestTestfile.cmake
build/ConfigReader/RUN_TESTS.vcxproj
build/ConfigReader/RUN_TESTS.vcxproj.filters
build/ConfigReader/CMakeFiles/generate.stamp
build/ConfigReader/CMakeFiles/generate.stamp.depend
build/ConfigReader/CMakeFiles/ConfigReader_autogen.dir/AutogenInfo.json
build/ConfigReader/CMakeFiles/ConfigReader_autogen.dir/AutogenUsed_Debug.txt
build/ConfigReader/CMakeFiles/ConfigReader_autogen.dir/ParseCache_Debug.txt
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.lib.recipe
build/ConfigReader/ConfigReader.dir/Debug/configreader.obj
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.pdb
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.vcxproj.FileListAbsolute.txt
build/ConfigReader/ConfigReader.dir/Debug/mocs_compilation.obj
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CL.command.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CL.read.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CL.write.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/ConfigReader.lastbuildstate
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CustomBuild.command.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CustomBuild.read.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/CustomBuild.write.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/Lib-link.read.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/Lib-link.write.1.tlog
build/ConfigReader/ConfigReader.dir/Debug/ConfigReader.tlog/Lib.command.1.tlog
build/ConfigReader/ConfigReader_autogen/mocs_compilation.cpp
build/ConfigReader/Debug/ConfigReader.lib
build/ConfigReader/Debug/ConfigReader.pdb
build/IncludeSpdlog/ALL_BUILD.vcxproj
build/IncludeSpdlog/ALL_BUILD.vcxproj.filters
build/IncludeSpdlog/cmake_install.cmake
build/IncludeSpdlog/CTestTestfile.cmake
build/IncludeSpdlog/IncludeSpdlog.sln
build/IncludeSpdlog/IncludeSpdlog.vcxproj
build/IncludeSpdlog/IncludeSpdlog.vcxproj.filters
build/IncludeSpdlog/RUN_TESTS.vcxproj
build/IncludeSpdlog/RUN_TESTS.vcxproj.filters
build/IncludeSpdlog/CMakeFiles/generate.stamp
build/IncludeSpdlog/CMakeFiles/generate.stamp.depend
build/IncludeSpdlog/CMakeFiles/IncludeSpdlog_autogen.dir/AutogenInfo.json
build/IncludeSpdlog/CMakeFiles/IncludeSpdlog_autogen.dir/AutogenUsed_Debug.txt
build/IncludeSpdlog/CMakeFiles/IncludeSpdlog_autogen.dir/ParseCache_Debug.txt
build/IncludeSpdlog/Debug/IncludeSpdlog.lib
build/IncludeSpdlog/Debug/IncludeSpdlog.pdb
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.lib.recipe
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.pdb
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.vcxproj.FileListAbsolute.txt
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/mocs_compilation.obj
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/spdlog.obj
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.command.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.read.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CL.write.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/IncludeSpdlog.lastbuildstate
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib-link.read.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib-link.write.1.tlog
build/IncludeSpdlog/IncludeSpdlog.dir/Debug/IncludeSpdlog.tlog/Lib.command.1.tlog
build/IncludeSpdlog/IncludeSpdlog_autogen/mocs_compilation.cpp
build/IncludeSpdlog/spdlog/ALL_BUILD.vcxproj
build/IncludeSpdlog/spdlog/ALL_BUILD.vcxproj.filters
build/IncludeSpdlog/spdlog/cmake_install.cmake
build/IncludeSpdlog/spdlog/CTestTestfile.cmake
build/IncludeSpdlog/spdlog/RUN_TESTS.vcxproj
build/IncludeSpdlog/spdlog/RUN_TESTS.vcxproj.filters
build/IncludeSpdlog/spdlog/spdlog.sln
build/IncludeSpdlog/spdlog/spdlog.vcxproj
build/IncludeSpdlog/spdlog/spdlog.vcxproj.filters
build/IncludeSpdlog/spdlog/CMakeFiles/generate.stamp
build/IncludeSpdlog/spdlog/CMakeFiles/generate.stamp.depend
build/IncludeSpdlog/spdlog/CMakeFiles/spdlog_autogen.dir/AutogenInfo.json
build/IncludeSpdlog/spdlog/CMakeFiles/spdlog_autogen.dir/AutogenUsed_Debug.txt
build/IncludeSpdlog/spdlog/CMakeFiles/spdlog_autogen.dir/ParseCache_Debug.txt
build/IncludeSpdlog/spdlog/Debug/spdlogd.lib
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/async.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/cfg.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/color_sinks.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/file_sinks.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/fmt.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/mocs_compilation.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.pdb
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlogd.lib.recipe
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/stdout_sinks.obj
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.command.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.read.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CL.write.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib-link.read.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib-link.write.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/Lib.command.1.tlog
build/IncludeSpdlog/spdlog/spdlog.dir/Debug/spdlog.tlog/spdlog.lastbuildstate
build/IncludeSpdlog/spdlog/spdlog_autogen/mocs_compilation.cpp
build/rpi-motor-app.dir/Debug/acquisition.obj
build/rpi-motor-app.dir/Debug/i2c_arduino_control.obj
build/rpi-motor-app.dir/Debug/main.obj
build/rpi-motor-app.dir/Debug/mainloop.obj
build/rpi-motor-app.dir/Debug/mocs_compilation.obj
build/rpi-motor-app.dir/Debug/rpi-motor-app.exe.recipe
build/rpi-motor-app.dir/Debug/vc142.pdb
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CL.command.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CL.read.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CL.write.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CustomBuild.command.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CustomBuild.read.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/CustomBuild.write.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/link.command.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/link.read.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/link.write.1.tlog
build/rpi-motor-app.dir/Debug/rpi-motor-app.tlog/rpi-motor-app.lastbuildstate
build/rpi-motor-app_autogen/mocs_compilation.cpp
build/rpi-motor-app_autogen/include_Debug/LWFOVJNRTB/moc_acquisition.cpp
build/rpi-motor-app_autogen/include_Debug/UVLADIE3JM/moc_i2c_arduino_control.cpp
build/rpi-motor-app_autogen/include_Debug/UVLADIE3JM/moc_mainloop.cpp
build/testModules.dir/Debug/acquisition.obj
build/testModules.dir/Debug/i2c_arduino_control.obj
build/testModules.dir/Debug/main.obj
build/testModules.dir/Debug/mainloop.obj
build/testModules.dir/Debug/mocs_compilation.obj
build/testModules.dir/Debug/testModules.exe.recipe
build/testModules.dir/Debug/vc142.pdb
build/testModules.dir/Debug/testModules.tlog/CL.command.1.tlog
build/testModules.dir/Debug/testModules.tlog/CL.read.1.tlog
build/testModules.dir/Debug/testModules.tlog/CL.write.1.tlog
build/testModules.dir/Debug/testModules.tlog/CustomBuild.command.1.tlog
build/testModules.dir/Debug/testModules.tlog/CustomBuild.read.1.tlog
build/testModules.dir/Debug/testModules.tlog/CustomBuild.write.1.tlog
build/testModules.dir/Debug/testModules.tlog/link.command.1.tlog
build/testModules.dir/Debug/testModules.tlog/link.read.1.tlog
build/testModules.dir/Debug/testModules.tlog/link.write.1.tlog
build/testModules.dir/Debug/testModules.tlog/testModules.lastbuildstate
build/testModules_autogen/mocs_compilation.cpp
build/testModules_autogen/include_Debug/LWFOVJNRTB/moc_acquisition.cpp
build/testModules_autogen/include_Debug/UVLADIE3JM/moc_i2c_arduino_control.cpp
build/testModules_autogen/include_Debug/UVLADIE3JM/moc_mainloop.cpp
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
