[submodule "Broadcaster"]
	path = Broadcaster
	url = https://github.com/SanczoPL/Broadcaster.git
[submodule "ConfigReader"]
	path = ConfigReader
	url = https://github.com/SanczoPL/ConfigReader.git
[submodule "IncludeSpdlog"]
	path = IncludeSpdlog
	url = https://github.com/SanczoPL/IncludeSpdlog.git
[submodule "QtCommunicatorPlugin"]
	path = QtCommunicatorPlugin
	url = https://github.com/SanczoPL/QtCommunicatorPlugin.git
